<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqt.cdr.cloudccsfaftersales.mapper.DictMapper">

    <resultMap id="BaseResultMap" type="com.cqt.cdr.cloudccsfaftersales.entity.Dict">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
            <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="lowAppId" column="low_app_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dict_name,dict_code,
        description,del_flag,create_by,
        create_time,update_by,update_time,
        type,tenant_id,low_app_id
    </sql>
</mapper>
